$primaryColor: #011C39;
$secondayColor:#DABD61;
$font-10:10px;
$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-20:20px;
$font-24:24px;
$font-27:27px;
$font-32:32px;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App{
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.main-container{
  width:100%;
  display: flex;
  justify-content: center;
}
.container{
  width:100%;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  height:100%;
}
.row{
  
  display: flex;
  flex-direction: row;
}
.column{
  
  display: flex;
  flex-direction: column;
}
.align--center{
  align-items: center;
}
.align--flex-end{
  align-items: flex-end;
}
.justify--center{
  justify-content: center;
}
.justify--space-around{
  justify-content: space-around;
}
.justify--space-between{
  justify-content: space-between;
}
.justify--space-evenly{
  justify-content: space-evenly;
}
.justify--flex-start{
  justify-content: flex-start;
}
.paragraph--light{
  font-size: $font-16;
  font-weight: lighter;
}
.paragraph--bold{
  font-size: $font-16;
  font-weight: bold;
  line-height: 1.7;
}
.text--uppercase{
  text-transform: uppercase;
}
.text-align--center{
  text-align: center;
}
.text-align--right{
  text-align: right;
}
.font--bold{
  font-weight: bold;
}
.font--light{
  font-weight: lighter;

}
.white-color{
  color:#fff;
}
.secondary-color{
  color:$secondayColor;
}
.primary-color{
  color:$primaryColor;
}
.button-primary{
   display: flex;
   justify-content: center;
   align-items: center;
   background:#eee;
   border-radius: 4px;
   width:fit-content;
   padding:12px 40px;
}
.button-primary span{
  color:$primaryColor;
   text-transform: uppercase;
   font-weight: bold;
   font-size: $font-16;
}
.button-secondary{
  display: flex;
   justify-content: center;
   align-items: center;
   background:$primaryColor;
   border-radius: 4px;
   width:fit-content;
   padding:12px 40px;
}
.button-secondary span{
  color:#fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-16;
}
//icon
.next{
  background: #fff;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// navbar
.navbar{
  height:80px;
  position:fixed;
  top:0;
}
.logo span{
  font-size: $font-32;
  color:#fff;
}
.menu-top,.menu-bottom{
  color:$secondayColor
}
.menu-bottom{
  font-size: $font-16;
  font-weight: 500;
  width:100%;
}
.menu-top{
  width:25%;
  font-size: $font-14;
  font-weight: 500;
  
}

// banner
.banner{
  // background:$primaryColor;
  background-image: linear-gradient(135deg, $primaryColor 59%, #fff 41%);
  padding-bottom: 16px;
}
.banner-top{
  margin-top:80px;
}
.banner::before {
  content: '';
  position: absolute;
  /* width: 100%; */
  width: 2px;
  height: 100vh;
  background: $primaryColor;
  transform: rotate(45deg);
  top: -8%;
  right: 29.3%;
}
.banner::after {
  content: '';
  position: absolute;
  /* width: 100%; */
  width: 2px;
  height: 100vh;
  background: linear-gradient(to bottom, $secondayColor 10%, transparent 10%, transparent 25%, $secondayColor 25%, $secondayColor 75%, transparent 75%, transparent 90%);
  transform: rotate(45deg);
  top: -8%;
  right: 28.8%;

}

.slogan{
  width:25%;
}
.slogan--small{
  font-size: $font-27;
  margin-bottom: 10px;
}
.slogan--big{
  font-size: 52px;
  // font-weight: bolder;
  line-height: 1.2;
  
  margin-bottom: 20px;
}

.banner-person{
  z-index:2;
}
.banner-person img{
  width:460px;

}
.banner-person{
  width:35%;
}
.banner-testimonial{
  width:40%;
}
.banner-testimonial img{
  width:400px;
}
.banner-testimonial .testimonial{
  background:#000;
  // transform:translate(-80px,0);
  padding:34px 55px;
  border-radius: 10px;
  display: block;
  text-align: right;
  z-index: 2;

}
.banner .banner-testimonial span{
  font-size: $font-16;
  font-weight:500;
  letter-spacing: 1px;

}
.banner .banner-testimonial .testimonial-paragraph p{
  width:60%;
  float:right;
  padding:30px 20px;
  line-height: 1.6;
}
.offer-section{
  background:$secondayColor;
  padding:100px;
  position: relative;
}

.offer-section.main-container::before {
  content: '';
  width: 100%;
  height: 2px;
  background: #ffff;
  position: absolute;
  top:8px;
}
.offer-section.main-container::after {
  content: '';
  width: 54%;
  height: 2px;
  background: $primaryColor;
  position: absolute;
  bottom: -8px;
  right:8%;
}
.offer-section .offer-left{
  width:60%;
}
.offer-section .offer-left div{
  margin-bottom: 20px;
}
.offer-section .offer-left span{
 color:$primaryColor; 
}
.offer-section .offer-right{
  width:40%;
  align-items: center;
}
.offer-section .offer-right::after {
  content: '';
  position: absolute;
  bottom: -16px;
  right:0;
  width: 57%;
  height: 2px;
  background: $secondayColor;
}
.offer-section .offer-right::before {
  content: '';
  position: absolute;
  left:0;
  top:16px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, $primaryColor 10%, transparent 10%, transparent 19%, $primaryColor 19%, $primaryColor 80%, transparent 80%,transparent 90% ,$primaryColor 90%);
}
//about section
.about{
  padding:100px;
}
.about .about-thumbnail{
  width: 50%;
  background: $primaryColor;
  position: relative;
}
.about .about-thumbnail .image-thumbnail{
  width: 100%;
  height:400px;
  object-fit: cover;
}
.about .about-thumbnail .about-heading{
  padding:20px;
}
.about .about-quotes{
  width:50%;
}
.about .about-thumbnail,.about .about-quotes{
  margin:30px 15px;
}
.about .click-me{
  position:absolute;
  top:50%;  
  left:50%;
}
//story
.story{
  background:$primaryColor;
  padding:100px;
}
.story .story-left{
  width:50%;
}
//card
.card{
  width:340px;
  height:400px;
}
.card img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.card .title{
  background:$secondayColor;
  padding:10px 20px;
}